@import "./../var";
@mapHeight:@nav-height + 150px;
.partner{
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  &>h3 {
    text-align: center;
    padding: 80px 60px 0;
    font-size: 34px;
    line-height: 1.5;
    color: #333;
    font-weight: 400;
  }
  .partner-content{
    width: 100%;
    background:#F6F7F0
  }
  .map{
    height:calc(~"100vh - @{mapHeight}");
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  @media (max-width: @middle-media) {
    //height: 500px;
  }
  @media (max-width: @small-media) {
    //height: 300px;
  }
}